.input {
  display: flex;
  height: 4em;
  flex: 1;
  background-color:#6495ED;
  color:#FFFAF0;
  justify-content: flex-end;
  padding: 0.5em;
  font-weight: bold;
  font-size: 1.4em;
  align-items: center;
  border-radius: 0.5em 0.5em 0em 0em;
}